<h4>Gêneros</h4>
<p>Edição do gênero</p>
<hr />

<div *ngIf="mensagemErro" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Erro!</strong> {{ mensagemErro }}
    <button (click)="mensagemErro = ''" type="button" class="btn-close" aria-label="Close"></button>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="row mb-3">
        <div class="col-md-6">
            <input type="text" class="form-control" formControlName="description" />
            <div class="text-danger" *ngIf="f['description'].touched&& f['description'].invalid">
                Por favor, informe a descrição do gênero de 5 a 100 caracteres.
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <input type="submit" class="btn btn-success" value="Salvar Alterações" [disabled]="form.invalid" />
        </div>
    </div>

</form>