<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Biblioteca
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="pages/books/list-book">
                                Livros</a></li>
                        <li><a class="dropdown-item" routerLink="pages/categories/list-category">
                                Gêneros</a></li>
                        <li><a class="dropdown-item" routerLink="pages/authors/list-author">
                                Autores</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>